tickTime={{tickTime}}
initLimit={{initLimit}}
syncLimit={{syncLimit}}
dataDir={{zookeeper_data}}
dataLogDir={{zookeeper_logs}}
clientPort={{clientPort}}
{{zoo_server1}}={{zoo_addr1}}
{{zoo_server2}}={{zoo_addr2}}
{{zoo_server3}}={{zoo_addr3}}
